#–î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [2]:
import pandas as pd 

data_path = 'supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [69]:
best_income = df.groupby('Branch')['gross income'].sum().reset_index()

In [75]:
best_income.sort_values("gross income", ascending = False).head(1)

  Branch  gross income
2      C     5265.1765

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [81]:
df[df.Branch == 'C']['City'].unique()

array(['Naypyitaw'], dtype=object)

In [87]:
df.groupby('City')['Invoice ID'].count()

City
Mandalay     332
Naypyitaw    328
Yangon       340
Name: Invoice ID, dtype: int64

1. –û—Å–∫—ñ–ª—å–∫–∏ –≤ –º—ñ—Å—Ç—ñ Naypyitaw –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫, –∞–ª–µ –ø—Ä–∏ —Ü—å–æ–º—É –Ω–∞–π–º–µ–Ω—à–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —á–µ–∫—ñ–≤, —Ç–æ –º–æ–∂–µ–º–æ –¥–æ–¥–∞—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ –ø—Ä–∏–±—É—Ç–æ–∫ —â–µ –±—ñ–ª—å—à–µ.
2. –û—Å–∫—ñ–ª—å–∫–∏ –≤ –º—ñ—Å—Ç—ñ Naypyitaw –Ω–∞–π–º–µ–Ω—à–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å —á–µ–∫—ñ–≤, —Ç–æ –¥–æ–¥–∞–≤–∞—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω –Ω–µ –ø–æ—Ç—Ä—ñ–±–Ω–æ, –±–æ —Ü–µ –±—É–¥–µ –Ω–µ –∞–∫—Ç—É–∞–ª—å–Ω–æ.

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [103]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [126]:
invoices_by_category.loc[:, 'Electronic accessories'].sort_values(ascending = False).reset_index().head(1)

  Branch  Electronic accessories
0      A                      60

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

<b>–ì—ñ–ø–æ—Ç–µ–∑–∞ 1. –ü–æ–∫—É–ø—Ü—ñ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "Member" –∫—É–ø—É—é—Ç—å —á–∞—Å—Ç—ñ—à–µ</b>

In [132]:
df.groupby('Customer type')['Invoice ID'].count().sort_values(ascending=False)

Customer type
Member    501
Normal    499
Name: Invoice ID, dtype: int64

–ù–µ –∫—É–ø—É—é—Ç—å —á–∞—Å—Ç—ñ—à–µ. –¢—Ä–µ–±–∞ –∑–∞–ø—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ —è–∫—ñ—Å—å –ø—Ä–æ–≥—Ä–∞–º–∏ –ª–æ—è–ª—å–Ω–æ—Å—Ç—ñ –∞–±–æ –∞–∫—Ü—ñ—ó –¥–ª—è –Ω–∏—Ö, —â–æ–± –≤–æ–Ω–∏ –±—ñ–ª—å—à–µ –∫—É–ø—É–≤–∞–ª–∏. –¢–∞–∫–æ–∂ –º–æ–∂–Ω–∞ –ø—Ä–æ–≤–µ—Å—Ç–∏ –∫–∞–º–ø–∞–Ω—ñ—é –ø–æ –∑–∞–æ—Ö–æ—á–µ–Ω–Ω—é —ñ–Ω—à–∏—Ö –∫–ª—ñ—î–Ω—Ç—ñ–≤ —Å—Ç–∞—Ç–∏ "Member".

<b>–ì—ñ–ø–æ—Ç–µ–∑–∞ 2. –ù–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—è "Electronic accessories"</b>

In [138]:
df.groupby('Product line')['gross income'].sum().sort_values(ascending=False)

Product line
Food and beverages        2673.5640
Sports and travel         2624.8965
Electronic accessories    2587.5015
Fashion accessories       2585.9950
Home and lifestyle        2564.8530
Health and beauty         2342.5590
Name: gross income, dtype: float64

–ù–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –ø—Ä–∏–Ω–æ—Å–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ä—ñ—è "Food and beverages". –î–æ–¥–∞—Ç–∏ —è–∫—ñ—Å—å –∞–∫—Ü—ñ—ó –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó, –¥–µ –º–∞—î–º–æ –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫. –¢–∞–∫–æ–∂, –º–æ–∂–Ω–∞ —Ä–æ–∑—à–∏—Ä–∏—Ç–∏ –∞—Å–æ—Ä—Ç–∏–º–µ–Ω—Ç —Ü—ñ—î—ó –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó.

<b>–ì—ñ–ø–æ—Ç–µ–∑–∞ 3. –ù–∞–π–±—ñ–ª—å—à–µ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è –Ω–∞–π–¥–µ—à–µ–≤—à—ñ —Ç–æ–≤–∞—Ä–∏</b>

In [144]:
df['Unit price'].describe()

count    1000.000000
mean       55.672130
std        26.494628
min        10.080000
25%        32.875000
50%        55.230000
75%        77.935000
max        99.960000
Name: Unit price, dtype: float64

In [152]:
def get_price_category(price):
    if price <= 25:
        return '10-25'
    elif price <= 50:
        return '26-50'
    elif price <= 75:
        return '51-75'
    else:
        return '76-100'

df['Unit price category'] = df['Unit price'].apply(lambda x: get_price_category(x))

In [164]:
df.groupby('Unit price category')['Quantity'].sum()

Unit price category
10-25      954
26-50     1445
51-75     1518
76-100    1593
Name: Quantity, dtype: int64

–ù–∞–π–¥–µ—à–µ–≤—à—ñ —Ç–æ–≤–∞—Ä–∏ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è –º–µ–Ω—à–µ, –Ω—ñ–∂ –Ω–∞–π–¥–æ—Ä–æ–∂—á—ñ. –ë–∞—á–∏–º–æ –∫–æ—Ä–µ–ª—è—Ü—ñ—é –º—ñ–∂ —Ü—ñ–Ω–æ—é —ñ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø—Ä–æ–¥–∞–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä—É. –ß–∏–º –±—ñ–ª—å—à–µ —Ü—ñ–Ω–∞, —Ç–∏–º –±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—É –ø—Ä–æ–¥–∞–Ω–æ. –ó–Ω–∞—á–∏—Ç—å, —Ç—Ä–µ–±–∞ –¥–æ–¥–∞—Ç–∏ –∞–∫—Ü—ñ—ó –Ω–∞ —Ç–æ–≤–∞—Ä–∏ –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π, –¥–µ –º–∞—î–º–æ –º–µ–Ω—à—É –ø—Ä–æ–¥–∞–∂–Ω—ñ—Å—Ç—å, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ —ó—ó.
–¢–∞–∫–æ–∂ —Ç—Ä–µ–±–∞ –¥–æ—Å–ª—ñ–¥–∏—Ç–∏, —á–æ–º—É –Ω–∞–π–¥–µ—à–µ–≤—à—ñ —Ç–æ–≤–∞—Ä–∏ –ø–æ–≥–∞–Ω–æ –ø—Ä–æ–¥–∞—é—Ç—å—Å—è (–º–æ–∂–ª–∏–≤–æ, —Ç–æ–≤–∞—Ä–∏ –≤  –¥–∞–Ω—ñ–π –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –ø–æ–≥–∞–Ω–æ—ó —è–∫–æ—Å—Ç—ñ, –∞–±–æ –º–∞—î–º–æ –º–∞–ª–µ–Ω—å–∫–∏–π –≤–∏–±—ñ—Ä —Ü–∏—Ö —Ç–æ–≤–∞—Ä—ñ–≤), —ñ –≤–∏–ø—Ä–∞–≤–∏—Ç–∏ —Ü—ñ –ø–æ–º–∏–ª–∫–∏.